body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url(bg.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 40px;
  max-width: 400px;
  width: 100%;
  text-align: center;
  backdrop-filter: blur(10px);
}

 h2 {
  margin-bottom: 20px;
  color: #fff;
}

.input-group {
  margin-bottom: 20px;
  position: relative;
}

.input-group input {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 16px;
}

.input-group input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.input-group .fas {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  color: #fff;
  font-size: 14px;
}

.remember-forgot a {
  color: #fff;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.login-btn {
  background: #ffb900;
  border: none;
  padding: 15px;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

.login-btn:hover {
  background: #ffa500;
}

.signup-text {
  margin-top: 20px;
  color: #fff;
  font-size: 14px;
}

.signup-text a {
  color: #ffb900;
  text-decoration: none;
}

.signup-text a:hover {
  text-decoration: underline;
}
.modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #242020;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 50%; 
}

.input-group1 input {
  width: 95%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 16px;
}

#btn{
  margin-top: 10px;
}


.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}